<h1>Rainforest App</h1>

<%= form_tag products_path, method: :get do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag 'Search' %>
	<% end %>

	<div id="products">
			<%= render @products %>
		</div>




<p><%= link_to "Add a New Product", "/products/new" %></p>